
@{
    ViewBag.Title = "TestDonorProfiles";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>TestDonorProfiles</h2>

@if (ViewBag.MessageString != null)
{
    Html.Raw(ViewBag.MessageString);
}