
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NotFound</h2>

<div id="page-content">
    <div class="row">
        <h3>Page not found</h3>

    </div>
</div>